**/*.gif
**/*.map
**/*.ts
*.tgz
.DS_Store
.azure-pipelines/**
.github/**
.gitignore
.vscode-test/**
.vscode/**
build/**
dist/test/**
docs/**
gulp*
node_modules/**
out/**
src/**
stats.json
test-results.xml
test/**
testWorkspace/**
tools/**
tsconfig.json
typings/**
webpack.config*
